@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '@storyblok/design-tokens/tokens/scss/themes/all-themes.scss';

#app {
  width: 100%;
  background: transparent;
}

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.MuiFormControl-root {
  background: $sb-color-background-primary;
  color: $sb-color-text-primary;
  border-radius: 8px;
  outline: 1px solid $sb-color-border-brand-primary;
  border: 1px solid $sb-color-border-primary;
  outline-offset: -1px;
}

.MuiInputBase-input {
  color: $sb-color-text-primary;
}
