@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --input-background-color: #ffffff;
  --input-foreground-color: #1b243f;
  --input-border-color: #dde3ee;
  --input-outline-color: #05807f;
}

[theme='dark'] {
  --input-background-color: #242429;
  --input-foreground-color: #ffffff;
  --input-border-color: #ffffff;
  --input-outline-color: #05807f;
}

[theme='dark-high-contrast'] {
  --input-background-color: #000000;
  --input-foreground-color: #ffffff;
  --input-border-color: #ffffff;
}

#app {
  width: 100%;
  background: transparent;
}

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.MuiFormControl-root {
  background: var(--input-background-color);
  color: var(--input-foreground-color);
  border-radius: 8px;
  outline: 1px solid var(--input-outline-color);
  border: 1px solid var(--input-border-color);
  outline-offset: -1px;
}

.MuiInputBase-input {
  color: var(--input-foreground-color) !important;
}
